* {

    margin: 0px;
    padding: 0px;

}

html{
    height: 100%;
}

body {
  background-size: cover;      /* La imagen cubre toda la pantalla */
  background-repeat: no-repeat; /* No repetir la imagen */
  background-position: center;  /* Centrar la imagen */
  width: 100%;
  height: 100%;


  header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 15px 30px;
    color: #A88E3D;
    box-shadow: 0 0 10px black;

    ul {

      list-style: none;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
      
      a {
          
        text-decoration: none; /*Quita la barra inferior*/
        color: #A88E3D;
        font-weight: 500;
        transition: all 0.3s ease;

        &:hover {
          color: #fff;
          transform: scale(1.1);
        }
      }
    }
  }

  .contenedor_principal{

    display: flex;
    margin: 10px auto;
    margin-top: 40px;
    padding-top: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.712);
    box-shadow: 0 0 10px black;

    ul{

      list-style: none;

      li{
        
        width: 700px;
        margin: 10px;
        background-color: white;

        div{ 

            display: grid;
            grid-template-columns: auto 1fr 2fr auto;
            align-items: center;
            box-shadow: 0 0 10px black;
            gap: 15px;
            
            
            img{
            width: 70px;
            }
            p{
                margin: 0;
                font-size: 20px;
                text-align: left;
            }

            .acciones {
                display: flex;
                gap: 10px;          
                justify-self: end; 
                margin-right: -15px;
                box-shadow: 0 0 0px black;

                button{
                    width: 60px;
                    height: 61px;
                    background: none;
                    border: none;
                    cursor: pointer;

                    justify-self: end; 

                }
                .carrito{
                    width: 20px;
                    cursor: pointer;
                    &:hover{
                        width: 30px;
                        
                    }
                }
                .fav{
                    width: 30px;
                    height: 28px;
                    cursor: pointer;
                    &:hover{
                        width: 40px;
                        height: 35px;
                    }
                }
            }

            
          }

          .contenedor_precioTotal{
 
            display: flex;  
            flex-direction: column;       
            justify-self: end; 
            margin-left: 5px;
            padding: 5px;
            box-shadow: 0 0 0px black;
            
            div{
              background-color: white; 
              text-align: center;
              width: 185px;

              button{
                width: 185px;
                height: 25px;
                cursor: pointer;
                border: none;
                background-color: #FFFDD0;
                transition: all 0.3s ease;

                &:hover {
                  transform: scale(1.1);
                }
              }
            }

          }
      }
    }
  }


}
