* {

    margin: 0px;
    padding: 0px;

}

html{
    height: 100%;
}

body {

    background-image: url("../img/login.jpg");
    background-size: cover;      /* La imagen cubre toda la pantalla */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: center;  /* Centrar la imagen */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form{

        text-align: center;
    

        h5{

            color: #A88E3D;
            font-size: 20px;
            text-shadow: 
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
 
        }

        input{
            background-color: black;
            color: white;
            border: 2px solid #5E5048;
            border-radius: 5px;
            opacity: 0.6;
            text-align: center;

            width: 200px;
            height: 25px;
            font-size: 15px;
        }

        .inputName{
            margin-bottom: 20px;
        }
        .inputPsw{
            margin-bottom: 60px;
        }

        .botonLogin{
            background-color: #710102;
            border: 2px solid #41383E;
            border-radius: 5px;
            color: #A88E3D;
            cursor: pointer;
            opacity: 1;
            font-size: 17px;

            text-shadow: 
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;

            box-shadow: 0 0 8px 2px black;

        }

        .botonLogin:hover {          
            transform: scale(1.1); 
        }



    }

}
