* {

    margin: 0px;
    padding: 0px;

}

html{
    height: 100%;
}

body {
    background-image: url("../img/mixto.webp");
    background-size: cover;      /* La imagen cubre toda la pantalla */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: center;  /* Centrar la imagen */
    width: 100%;
    height: 100%;

    header {

      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #1a1a1a;
      padding: 15px 30px;
      color: #A88E3D;
      box-shadow: 0 0 10px black;

      ul {

        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
        
        a {
            
          text-decoration: none; /*Quita la barra inferior*/
          color: #A88E3D;
          font-weight: 500;
          transition: all 0.3s ease;

          &:hover {
            color: #fff;
            transform: scale(1.1);
          }
        }
      }
    }

    .eleccion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px; /* margen interno a izquierda y derecha */

        .preferencias_imagenes{
            display: flex;
            flex-direction: column;
            .img_horda{
                width: 350px;
            }
            .btn_horda{
                color: black;
                background-color: #C2272D;
                border: 2px solid black;
                box-shadow: 0 0 10px black;
                font-size: 17px;
                letter-spacing: 3px;
                cursor: pointer;
                height: 30px;

                transition: all 0.3s ease;

                &:hover{
                    transform: scale(1.1);
                }

            }
            
            .btn_ali{
                color: white;
                background-color: #002C63;
                border: 2px solid #CB9F0B;
                box-shadow: 0 0 10px black;
                margin-top: 25px;
                font-size: 17px;
                letter-spacing: 3px;
                cursor: pointer;
                height: 30px;

                transition: all 0.3s ease;

                &:hover{
                    transform: scale(1.1);
                }
            }

        }

    }


}



